{% extends "base.html" %}
{% load oauth_tags %}
{% load blog_tags comment_tags %}
{% load_article_summary articles %}
{% block head_title %}
Stray_Camel(＾Ｕ＾)ノ~ＹＯ|用户中心
{% endblock %}
{% block metas %}
    <meta name="description"  content="{{ SITE_DESCRIPTION }}" />
    <meta name="keywords"  content="{{ SITE_KEYWORDS}}" />
{% endblock %}
{% block top_file %}
<style type="text/css">
.card {
    margin-bottom: 1.875em;
    border-radius: 5px;
    padding: 0;
    border: 0px solid transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}
.card img{
    margin-right: 10px;
    max-width: 45px;
}
.card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.20);
    transform: translateY(-0px);
    -webkit-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    -moz-transform: translateY(-0px);
}
.card .card-body {
    float: left;
    padding: 0.75em;
}

.table-stats table th, .table-stats table td {
    border: none;
    border-bottom: 1px solid #e8e9ef;
    text-align: center;
    color: #868e96;
    font-size: 12px;
    font-weight: normal;
    padding: .75em 1.25em;
    text-transform: uppercase;
}
.table-stats table td {
    color: #343a40;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    vertical-align: middle;
}
.order-table tr th {
    background: #e8e9ef;
}
.order-table tr:last-child td {
    border: none;
}
table {
    margin: 0;
    table-layout: auto;
    width: 100%;
}
</style>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="box-title">所有用户</h5>
        </div>
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="serial">#</th>
                            <th class="avatar">Avatar</th>
                            <th>x</th>
                            <th>Name</th>
                            <th>Last_login_time</th>
                            <th>numbers</th>
                            <th>function</th>
                        </tr>
                    </thead>    
                    <tbody id="all_user">


                        {% get_users_list as user_all %}
                        {% for user in user_all %}
                        <tr>
                            <td class="serial">{{user.id}}</td>
                            <td class="avatar">
                                <div class="round-img">
                                    <a href="#"><img class="rounded-circle" src="{{user.avatar.url}}" alt=""></a>
                                </div>
                            </td>
                            <td class=""></td>
                            <td>  <span class="name">{{user}}</span> </td>
                            <td> <span >{{user.last_login}}</span></td>
                            <td><span class="count">231</span></td>
                            <td>
                            </td>
                        </tr>
                            

                            
                        {% empty %}
                        <tr>
                            <td class="serial">-</td>
                            <td class="avatar">
                                <div class="round-img">
                                    <a href="#"><img class="rounded-circle" src="#" alt=""></a>
                                </div>
                            </td>
                            <td class="id"> 
                                #
                            </td>
                            <td>  <span class="name">#</span> </td>
                            <td> <span >#</span></td>
                            <td><span class="count">231</span></td>
                            
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}   
{% block sider_right %}
<!-- SIDER-RIGHT -->
<!--dash board-->
{% include 'blog/dash_board.html' %}
<!-- friend_links -->
{% include 'blog/friend_links.html' %}
{% endblock %}