# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# 自定义
# 不上传tmp文件夹及所有的文件
test.*
.idea/
.ipynb_checkpoints/
.vscode/
logs/*.log
# python缓存文件
**/__pycache__
# 我也不知道是啥的文件
**/.DS_Store
*.p
**/migrations/*
!**/migrations/__init__.py
# 不上传数据集，将数据集都打包成zip再上传
**/*.zip
**/*.gz
**/*.dat
**/*.csv
**/*.json
# python环境
env/
# 索引文件
**/whoosh_index/*.seg
**/whoosh_index/*.toc
# 不上传admin静态文件
**/static/admin
# 不上传rest_framework静态文件
**/static/rest_framework
# 不上传网站的静态资源，用户头像，但是保留默认头像文件
media/avatar/*
!media/avatar/default
!media/avatar/logo.png
# 不上传网站的静态资源，文章图片
**/media/mdeditor/article
**/media/mdeditor/uploads
!media/mdeditor/**/*.MD
# 不上传网站的静态资源，缓存文件
**/media/CACHE
# 不上传tmp缓存pickle文件
tmp/*
# 不上传pyton manage.py compress 运行后生成的css文件
**/static/CACHE
# 不上传网站需要的邮箱、数据库密码
**/passwords.py
!**/*.MD
**/models_logs/**
**/*.sqlite3
!**/*.md
# vue
.DS_Store
node_modules
dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/video
/src/layouts/components/zx-layouts
/zx-templates
/package-lock.json
