# 不上传tmp文件夹及所有的文件
test.py
.idea/
.ipynb_checkpoints/
.vscode/
logs/*.log
# python缓存文件
**/__pycache__
# 我也不知道是啥的文件
**/.DS_Store
*.p
**/migrations/*
!**/migrations/__init__.py
!**/migrations/*.md
# 不上传数据集，将数据集都打包成zip再上传
data/BX-CSV-Dump
# python环境
env/
# 索引文件
whoosh_index/*.seg
whoosh_index/*.toc
# 不上传admin静态文件
static/admin
# 不上传mdeditor静态文件，但是保留插件
static/mdeditor
!static/mdeditor/js/plugins/image-handle-paste
# 不上传rest_framework静态文件
static/rest_framework
# 不上传网站的静态资源，用户头像
static/media/avatar
# 不上传网站的静态资源，文章图片
static/media/article
# 不上传网站的静态资源，缓存文件
static/media/CACHE
# 不上传settings.py配置文件，防止敏感信息泄露
django_blog/settings.py
# 不上传tmp缓存pickle文件
tmp/*.p