absl-py==0.11.0
amqp==1.4.9
anyjson==0.3.3
asgiref==3.3.1
astunparse==1.6.3
autopep8==1.5.4
billiard==3.3.0.23
cachetools==4.1.1
celery==3.1.26.post2
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
construct==2.5.3
cryptography==3.3.2
debtcollector==2.2.0
defusedxml==0.6.0
Django==3.1.8
django-allauth==0.43.0
django-appconf==1.0.4
django-celery==3.3.1
django-compressor==2.4
django-haystack==3.0
django-imagekit==4.0.2
django-mdeditor==0.1.18
django-pure-pagination==0.3.0
django-restframework==0.0.1
django-silk==4.1.0
django-uuslug==1.2.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.4.0
drf-haystack==1.8.9
emoji==0.6.0
et-xmlfile==1.0.1
Faker==4.18.0
future==0.18.2
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
gprof2dot==2019.11.30
grpcio==1.33.2
h5py==2.10.0
idna==2.10
importlib-metadata==3.0.0
importlib-resources==3.3.0
iso8601==0.1.13
jdcal==1.4.1
jieba==0.42.1
Jinja2==2.11.3
joblib==0.17.0
Keras-Preprocessing==1.1.2
kombu==3.0.37
Markdown==3.3.3
MarkupSafe==1.1.1
netaddr==0.8.0
netifaces==0.10.9
numpy==1.18.5
oauthlib==3.1.0
openpyxl==3.0.5
opt-einsum==3.3.0
oslo.i18n==5.0.1
oslo.utils==4.7.0
packaging==20.7
pandas==1.1.4
pbr==5.5.1
pefile==2019.4.18
pilkit==2.0
Pillow==8.1.1
protobuf==3.14.0
psycopg2-binary==2.8.6
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.4
PyJWT==1.7.1
pyparsing==2.4.7
pyspark==3.0.1
pytest-runner==5.2
python-dateutil==2.8.1
python-ptrace==0.9.7
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.4
rcssmin==1.0.6
requests==2.25.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
setuptools-scm==4.1.2
simplegeneric==0.8.1
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
urllib3==1.26.3
uWSGI==2.0.19.1
WebOb==1.8.6
Werkzeug==1.0.1
Whoosh==2.7.4
wrapt==1.12.1
WSME==0.10.0
zipp==3.4.0
