absl-py
amqp
anyjson
asgiref
astunparse
autopep8
billiard
cachetools
celery
certifi
cffi
chardet
construct
cryptography
debtcollector
defusedxml
Django
django-allauth
django-appconf
django-celery
django-compressor
django-haystack
django-imagekit
django-mdeditor
django-pure-pagination
django-restframework
django-silk
django-uuslug
djangorestframework
djangorestframework-simplejwt
drf-haystack
emoji
et-xmlfile
Faker
future
gast
google-auth
google-auth-oauthlib
google-pasta
gprof2dot
grpcio
h5py
idna
importlib-metadata
importlib-resources
iso8601
jdcal
jieba
Jinja2
joblib
Keras-Preprocessing
kombu
Markdown
MarkupSafe
netaddr
netifaces
numpy
oauthlib
openpyxl
opt-einsum
oslo.i18n
oslo.utils
packaging
pandas
pbr
pefile
pilkit
Pillow
protobuf
psycopg2-binary
py4j
pyasn1
pyasn1-modules
pycodestyle
pycparser
Pygments
PyJWT
pyparsing
pyspark
pytest-runner
python-dateutil
python-ptrace
python-slugify
python3-openid
pytz
rcssmin
requests
requests-oauthlib
rjsmin
rsa
scikit-learn
scipy
setuptools-scm
simplegeneric
six
sklearn
sqlparse
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
text-unidecode
threadpoolctl
toml
urllib3
uWSGI
WebOb
Werkzeug
Whoosh
wrapt
WSME
zipp