{% extends "base.html" %}
{% load static %}
{% block head_title %}
在线md2html工具 | 娃哈哈'店长'的个人博客
{% endblock %}
{% block metas %}
    <meta name="description"  content="在线md2html工具" />
    <meta name="keywords"  content="mdeditor、在线md2html平台、" />
{% endblock %}
{% block top_file %}
    <link href="{% static 'mdeditor/css/editormd.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">
        #test-editormd {
            z-index: 100;
        }
    </style>
{% endblock %}
{% block mdeditor_contain %}
<div id="layout" style="width: 100%;">
    <div id="test-editormd" >   
        <textarea style="display:none;" ></textarea>
    </div>
</div> 
{% endblock %}     
{% block end_file %}
<!-- 基础文件 -->
<!-- <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script> -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
<!-- 绘制序列图 -->
<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
<!-- 绘制流程图 -->
<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
<!-- <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script> -->
<!-- <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script> -->
<!-- <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script> -->
<script type="text/javascript">
    var testEditor;
    $(function() {    
        // You can custom @link base url.
        
        testEditor = editormd("test-editormd", {
            width     : "90%",
            path : "{% static 'mdeditor/js/lib/' %}",
            height    : 720,
            toc       : false,
            // //atLink    : false,    // disable @link
            // //emailLink : false,    // disable email address auto link
            syncScrolling       : 'single',
            todoList  : true,
            // theme : "dark",
            // previewTheme : "dark",
            // editorTheme : "pastel-on-dark",
            // markdown : md,
            codeFold : true,
            // //syncScrolling : false,
            saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
            searchReplace : true,
            // 开启工具栏固定定位
            toolbarAutoFixed: false,
            // //watch : false,                // 关闭实时预览
            // htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
            // //toolbar  : false,             //关闭工具栏
            // //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji : true,
            taskList : true,
            tocm            : false,         // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            imageUpload : true,
            imageUploadURL: "/tool/default_upload/", //图片上传后台地址
            onload: function() {
                    // 引入插件 执行监听方法
                    editormd.loadPlugin("{% static 'mdeditor/js/plugins/image-handle-paste/image-handle-paste' %}", function(){
                        testEditor.imagePaste();
                    });
                }
        });

        
    });
</script>
{% endblock %}
