{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load tool_tags %}
{% block head_title %}
Stray_Camel(＾Ｕ＾)ノ~ＹＯ|在线工具，提升工作效率
{% endblock %}
{% block metas %}
<meta name="description" content="在线工具，提供站长工具包括markdown在线编辑、友链检测、正则表达式工具等，方便进行批量操作，提高工作效率，工具持续增加中">
<meta name="keywords" content="在线工具,SEO工具,站长工具,爬虫工具">
{% endblock %}


{% block top_file %}
<link href="{% static 'css/tool.css' %}?v=20190107.08" rel="stylesheet">
{% endblock %}



{% block content %}
<!-- TOOL POSTS -->
<div class="freen-masonry-grid small-masonry">
    <div class="freen-three-columns" data-columns>
    {% get_tools as tools %}
        {% for t in tools %}
        <!-- POST -->
        <div class="card-masonry card-small">
            <div class="card">
                <a href="{{t.link}}">
                    <img class="card-vertical-img" src="{% static '/media/' %}{{ t.img }}" alt="{{t.name}}" />   
                </a>
                <div class="card-border">
                    <div class="card-body">
                        <div class="card-category">
                            <a href="{{t.link}}">{{t.name}}-[{{t.category}}]</a>
                        </div>
                        <h5 class="card-title">
                            <a href="{{t.link}}">{{t.description}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}