{% load blog_tags %}
<div class="freen-categories freen-widget">

    <div class="freen-widget-body">
        <h5 class="freen-title-with-border"><span><i class="my-fa fa fa-book" aria-hidden="true"></i>&nbsp;|分类</span></h5>
    <ul>
        {% get_categoty_list as categories %}
        {% get_article_num as num%}
        {% for each in categories %}
        <li>
            <a href="{{ each.get_absolute_url }}"></i>&nbsp;{{ each.name }}
                <span class="badge badge-pill badge-info">{{each.total_num}}</span>
            </a>
            <div class="progress progress-striped active">

                <a id="category_progress" class="progress-bar progress-bar-success"
                    style="width: {%  widthratio  each.total_num num 100 %}%">
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>