{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block user_title %}{% trans "Sign Out" %}{% endblock %}

{% block mdeditor_contain %}
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="freen-author-box-btn">
    <button class="btn btn-outline-danger btn-sm col-lg-4" type="submit">{% trans 'Sign Out' %}</button>
    <a class="btn btn-outline-default btn-sm col-lg-4" href="/">返回</a>
    </div>
</form>


{% endblock %}
