
{% load i18n %}
<div class="freen-pager">
<ul class='pagination flex-wrap'>
    {% comment %} {% if page_obj.has_previous %}
    <li class='page-item'><a class='page-link'  href="?{{ page_obj.previous_page_number.querystring }}"><i class="fa fa-chevron-left"></i></a></li>
    {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>
    {% endif %} {% endcomment %}

    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
            <li class='page-item active current page'><a class='page-link' href="#">{{ page }}</a></li>
            {% else %}
            <li class='page-item' ><a class='page-link' href="?{{ page.querystring }}" >{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class='page-item page' ><p class='#' href='#' style=" margin-top: 50%; ">..🐾..</p></li>
        {% endif %}
    {% endfor %}
    {% comment %} {% if page_obj.has_next %}
        <li class='page-item'><a class='page-link'  href="?{{ page_obj.next.querystring }}"><i class="fa fa-chevron-right"></i></a></li>
    {% else %}
        <span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
    {% endif %} {% endcomment %}
</ul>
</div>