{% extends "base.html" %}
{% load static %}
{% block content %}

                <!-- BLOG POSTS -->
                {% for post in post_list %}
                <!-- POST 1 -->
                <div href="{% url 'detail' id=post.id %}" class="card card-horizontal card-border" >
                    <div class="card-body">
                        <div class="card-horizontal-left">
                            <div class="card-category">
                                <a href="{% url 'category_menu' id=post.category.id %}"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;  post.category  </a>&nbsp;&nbsp;
                                  
                                <a><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{% for tag in tag_list %}  tag  {% endfor %}</a> </div>

                            <h5 class="card-title"><a href="{% url 'detail' id=post.id %}">  post.title  </a></h5>
                            <div class="card-excerpt">
                                <p>                            
                                    {#striptags用于过滤正文中所有的HTML标签#}
                                    {#truncatechars用于截取正文前50个字符#}
                                      post.content|striptags|truncatechars:50  
                                </p>
                            </div>
                            <div class="card-horizontal-meta">
                                <div class="freen-author-meta">
                                    By <a class="author-meta" href="{% url 'detail' id=post.id %}">Stray_Camel</a>
                                </div>
                                <div class="freen-date-meta">
                                    <a href="{% url 'detail' id=post.id %}"><span><i class="fa fa-clock ml-2 mr-1"></i>  post.pub_time |date:'Y-m-d'  </span></a>
                                </div>

                                <div class="freen-reading-meta"><span><i class="fa fa-eye ml-2 mr-1">  post.views  </i></span></div>
                            </div>
                        </div>
                        <div class="card-horizontal-right" >
                            <a href="{% url 'detail' id=post.id %}" class="card-featured-img" style='background-image: url("  post.category.img.url  ");' href="{% url 'detail' id=post.id %}"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- PAGINATION -->
                 {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
                <div class="freen-pager">
                    <ul class='pagination flex-wrap'>
                        <li class='page-item'><a class='page-link' href="#"><i class="fa fa-chevron-left"></i></a></li>
                        {% for post in post_list %}
                        <li class='page-item active'><a class='page-link' href='#'>a</a></li>
                        {% endfor %}
                        <li class='page-item'><a class='page-link' href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
                {% endif %}
                <div class="clearfix"></div>
                
                <!-- DIVIDER -->
                <hr class="section-divider" />

{% endblock %}   