<div class="modal fade" id="wechat" tabindex="-1" role="dialog" aria-labelledby="QRTitle" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/static/image/wechat.png" style="max-width: 100%" alt="img">
                </div>
            </div>
        </div>
    </div> 
    <!-- <div class="modal fade" id="qq" tabindex="-1" role="dialog" aria-labelledby="QRTitle" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/static/image/qq.png" style="max-width: 100%" alt="img">
                </div>
            </div>
        </div>
    </div> -->