
{% load oauth_tags %}
{% load comment_tags %}
{% block top_file %}
<style type="text/css">
.card-header{
    padding:0 30px!important;
}

.twt-category ul li {
    color: #bdbdbd;
    font-size: 13px;
}
.weather-category ul li {
    width: 30%;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    display: inline-block;
}
.weather-category ul li:first-child {
    text-align: center;
    border-left: 1px solid #e6e6e6;
    display: inline-block;
}
.twt-category {
    display: inline-block;
    width: 100%;
}
.weather-category {
    padding: 5px 0;
    color: #74829C;
}
.weather-category ul, ol {
    padding-left: 0;
}
.weather-category dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.twt-footer, .twt-footer a {
    color: #d2d2d2;
}
.twt-footer {
    padding: 2rem 15px;
    text-align: left;
}

}
</style>
{% endblock %}
{% if user.is_authenticated %}
<div class="freen-author-box">
    <aside class="profile-nav alt">
        <section>
        <div class="card-header user-header alt " style="background:#fff;">
            <div class="media">
                <div class="freen-author-img">
                    <a href="/"><img src="{{ user.avatar.url }}" alt="  {{ user }}  "></a>
                </div>
                <div class="media-body" style="width:75%;color:#000">
                    <h2 class="text-dark display-6">{{ user.username }}</h2>
                    <p class="text-dark display-6">开发中ing...</p>  
                </div>

            </div>
            <div class="weather-category twt-category">
            <ul>
                <li class="active">
                    <h5>x</h5>
                    评论
                </li>
                <li>
                    <h5>x</h5>
                    获赞
                </li>
                <li>
                    <h5>x</h5>
                    好友
                </li>
            </ul>
        </div>
        </div>
        <ul class="list-group list-group-flush" style="text-align: left;">
            <li class="list-group-item">
                <a href="/accounts/profile/"> <i class="fa fa-user-o"></i> 个人中心 <span class="badge badge-primary pull-right">🖖</span></a>
            </li>
            <li class="list-group-item">
                <a href="#"> <i class="fa fa-tasks"></i> 我的文章<span class="badge badge-danger pull-right">xx</span></a>
            </li>
            <li class="list-group-item">
                <a href="https://github.com/Freen247/django_blog/issues/new"> <i class="fa fa-bell-o"></i> 网站评价 <span class="badge badge-success pull-right">xx</span></a>
            </li>
            {% comment %} <li class="list-group-item">
                <a href="/accounts"> <i class="fa fa-comments-o"></i> 所有用户 <span class="badge badge-warning pull-right r-activity">{% get_users_num as users_total %}{{users_total}}</span></a>
            </li> {% endcomment %}
        </ul>
        <section>
    </aside>
    <footer class="twt-footer">
        <a href="#"><i class="fa fa-map-marker"></i></a>
        显示地址-开发中ing
        <span class="pull-right">
            xx
        </span>
    </footer>
</div>
{% else %}
<div class="freen-author-box">
    <aside class="card profile-nav alt">
        <section>
        <div class="card-header user-header alt " style="background:#fff;">
            <div class="media">
                
                <div class="media-body" style="width:75%;color:#000">
                    <h2 class="text-dark display-6">您还登陆</h2>
                    <p class="text-dark display-6">开发中ing...</p>  
                </div>

            </div>
            <div class="weather-category twt-category">
            <ul>
                <li class="active">
                    <h5>x</h5>
                    评论
                </li>
                <li>
                    <h5>x</h5>
                    获赞
                </li>
                <li>
                    <h5>x</h5>
                    好友
                </li>
            </ul>
        </div>
        </div>
        <ul class="list-group list-group-flush" style="text-align: left;">
            <li class="list-group-item">
                <a href="/accounts/profile/"> <i class="fa fa-user-o"></i> 个人中心 <span class="badge badge-primary pull-right">🖖</span></a>
            </li>
            <li class="list-group-item">
                <a href="#"> <i class="fa fa-tasks"></i> 我的文章<span class="badge badge-danger pull-right">xx</span></a>
            </li>
            <li class="list-group-item">
                <a href="#"> <i class="fa fa-bell-o"></i> 给站长留言 <span class="badge badge-success pull-right">xx</span></a>
            </li>
            {% comment %} <li class="list-group-item">
                <a href="/accounts"> <i class="fa fa-comments-o"></i> 所有用户 <span class="badge badge-warning pull-right r-activity">{% get_users_num as users_total %}{{users_total}}</span></a>
            </li> {% endcomment %}
        </ul>
        <section>
    </aside>
    <footer class="twt-footer">
        <a href="#"><i class="fa fa-map-marker"></i></a>
        显示地址-开发中ing
        <span class="pull-right">
            xx
        </span>
    </footer>
</div>
{% endif %}