{% extends "base.html" %}
{% load blog_tags static comment_tags %}


{% block head_title %}{{ article.title }}_{{ article.category }}{% endblock %}
{% block metas %}
<meta name="description" content="{{ article.summary }}">
<meta name="keywords" content="{% keywords_to_str article %}">
{% endblock %}
{% block top_file %}
<!-- 评论区 -->
<link href="{% static 'comment/css/base_comment.css' %}" rel="stylesheet">
<link href="{% static 'comment/css/notification.css' %}" rel="stylesheet">
<!-- 文本区 -->
<link href="{% static 'mdeditor/css/editormd.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block mdeditor_contain %}

<!-- 标题 -->
<div class="freen-page-title mb-4 col-lg-10" style=" padding-right: 15px; opacity: 1;">
    <h1><span>{{ object.title }}</span></h1>
    <div class="freen-page-title-meta">
        <div class="freen-author-meta">
            By <a class="author-meta" href="author.html">{{ object.author }}</a>
        </div>
        <div class="freen-cat-meta">
            In <a href="category.html">{{ object.category.name }}</a>
        </div>
        <div class="freen-date-meta">{{ object.create_date|date:'y-m-d' }}</div>
        <div class="freen-reading-meta">{{ object.views }}次浏览</div>
    </div>
</div>
 <!-- 文章目录标题 -->
<!-- <div >
     <div class="markdown-body editormd-preview-container" id="custom-toc-container" style="" >文章目录</div>
</div> -->
<!-- 文章内容 -->
<div class="">
 <div id="test-editormd-view" class="ml-1 col-lg-10">
    <textarea id="append-test" style="display:none;">  {{ article.body|safe }}</textarea>     
</div>
<p>转载请注明：
<a href="{% url 'blog:article' object.slug %}">Stray_Camel</a> &raquo;
<a href="{% url 'blog:article' object.slug %}">{{ object.title }}</a>
</p>

</div>
<div class="clearfix"></div>
<div class="article-social col-lg-10" >
    <!-- 评论区 -->
    {% include 'comment/comment_form.html' %}
    {% get_parent_comments article as comment_list %}
    {% include 'comment/comment_list.html' %}
</div>
<!-- 采用mdeditor来解析文章内容并生成其html样式 -->
<!-- <script src="js/zepto.min.js"></script>
    <script>        
        var jQuery = Zepto;  // 为了避免修改flowChart.js和sequence-diagram.js的源码，所以使用Zepto.js时想支持flowChart/sequenceDiagram就得加上这一句
    </script> -->

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'comment/js/notification.js' %}"></script>
<script src="{% static 'comment/js/editor.js' %}"></script>
<script src="{% static 'comment/js/activate-power.js' %}"></script>
<!-- mdeditor -->
<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>

<script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
<!-- 绘制序列图 -->
<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
<!-- 绘制流程图 -->
<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>

<script type="text/javascript">
    $(function () {
        var testEditor;
        testEditor = editormd("test-editormd", {
            width: "100%",
            path: "{% static 'mdeditor/js/lib/' %}",
            height: 250,
            todoList: true,
            codeFold: true,
            searchReplace: true,
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,

            toolbarIcons: function () {
                // Or return editormd.toolbarModes[name]; // full, simple, mini
                // Using "||" set icons align right.
                return ["undo", "redo","del", "bold", "hr", "italic", "quote", "list-ul", "list-ol","|", "link","reference-link","image","code","preformatted-text","|", "emoji", "info", "html-entities","table","datetime", "||", "watch","preview"]
            },
             onload: function () {
                // alert("onload");
                // this.setMarkdown("### onloaded");
                // console.log("onload =>", this, this.id, this.settings);
                //    提交评论后定位到新评论处
                 if (sessionStorage.getItem('new_point')) 
                 {
                     var top = $(sessionStorage.getItem('new_point')).offset().top - 100;
                     $('body,html').animate({ scrollTop: top }, 200);
                     window.location.hash = sessionStorage.getItem('new_point');
                     sessionStorage.removeItem('new_point');
                 }
                 else{
                     $('body,html').animate({ scrollTop: 0 }, 200);
                 };
                
            }
            
        });
        
        var testEditormdView;
        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            todoList: true,
            codeFold: true,
            searchReplace: true,
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            // tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
        });
    });
</script>
{% endblock %}   