<div class="eskimo-author-box eskimo-add-border eskimo-widget">
    <div class="eskimo-author-img">
        <img src="/static/image/logo.png" alt="  {{ AUTHOR_NAME }}  ">
    </div>
    <h3>  {{ AUTHOR_NAME }}  </h3>
    <p class="eskimo-author-subtitle"> {{ AUTHOR_TITLE }} </p>
    <p class="eskimo-author-description">  {{AUTHOR_DESC}}  </p>
    <div class="eskimo-author-box-btn"> 
        <a class="btn btn-outline-default btn-sm eskimo-panel-open" href="#eskimo-panel">个人简历</a>
    </div>
    <hr>
</div>
<hr>