<div class="freen-author-box freen-add-border freen-widget">
    <div class="freen-author-img">
        <a href="/"><img src="/static/image/logo.png" alt="  {{ AUTHOR_NAME }}  "></a>
    </div>
    <h3>  {{ AUTHOR_NAME }}  </h3>
    <p class="freen-author-subtitle"> {{ AUTHOR_TITLE }} </p>
    <p class="freen-author-description">  {{AUTHOR_DESC}}  </p>
    <div class="freen-author-box-btn"> 
        <a class="btn btn-outline-default btn-sm freen-panel-open" href="#freen-panel">个人简历</a>
    </div>
    <hr>
       <div class="card-text text-sm-center">
            <a href="https://github.com/Freen247/django_blog"><i class="fa fa-github pr-1"></i></a>
            <a href="#"><i class="fa fa-wechat pr-1"></i></a>
            <a href="#"><i class="fa fa-qq pr-1"></i></a>
            <a href="mailto:aboysintky@outlook.com"><i class="fa fa-envelope pr-1"></i></a>
        </div>
</div>
<hr>