<!DOCTYPE html>
{% load static %}
{% load blog_tags %}
{% load cache %}
{% load comment_tags %}
{% load tool_tags %}
{% load compress %}
<html lang="en-US">

<head>
    <title>{% block head_title %}{% endblock %}{{ site_end_title }}</title>
    <!-- META TAGS -->
    {% block metas %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="360-site-verification" content="2ad1609205bc036d353436a24bf05a62" />
    <meta name="msvalidate.01" content="037C463FCD6495301662778FC939CD57" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="baidu-site-verification" content="PVrsG5G9a2" />
    <!-- CSS FILES -->
    <!-- mdui-headroom 头部菜单滑动css-->
    <link rel="stylesheet" href="https://www.mdui.org/source/dist/css/mdui.min.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"> -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% compress css %}
    <link href="{% static 'css/style.css' %}?v=20171223.09" rel="stylesheet" type="text/css">
    {% endcompress %}
    <!-- <link href="{% static 'md_css/monokai.css' %}" rel="stylesheet" type="text/css"> -->
    <link rel="shortcut icon" type="image/x-icon" mce_href="{% static 'image/favicon.ico' %}"
        href="{% static 'image/favicon.ico' %}" media="screen" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    {% block top_file %}
    {% endblock %}
</head>
<body>
    <!-- READING POSITION INDICATOR -->
    <!-- 头部进度条 -->
    <progress value="0" id="freen-progress-bar" class="freen-progress-bar">
        <span class="freen-progress-container">
            <span class="freen-progress-bar"></span>
        </span>
    </progress>
    <!-- 头部菜单 -->
    <header   mdui-headroom="options" class="header navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0 headroom headroom--top">
        <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get" id="searchform"
            action="{% url 'blog:search' %}">
            <input type="search" name="q" class="form-control rounded-0" placeholder="站内搜索" autocomplete="off" required="True">
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div  class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav ml-auto">
                {% cache 7200 'nav' %}
                
                <li class="nav-item mr-2">
                    <a class="nav-link py-md-3 " href="/"><i class="fa fa-home mr-1"></i>首页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-2">
                    <a class="freen-open-search nav-link py-md-3 " id="freen-open-search" href="#"><i
                            class="fa fa-search mr-1"></i>搜索查询</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link py-md-3 " href="/tool/"><i class="fa fa-filter"></i>所有工具</a>
                </li>
                <li class="nav-item mr-2 ">
                
                    <a class="nav-link py-md-3 " href="/timeline"><i class="fa fa-anchor mr-1"></i>blog开发日志</a>
                </li>
                {% endcache %}

                
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                {% get_notifications user is_read as notifications %}
                <div class="dropdown for-notification">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="count bg-danger">{% get_notifications_count user 'false' %}</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="notification">
                        <a class="dropdown-item media" href="{% url 'comment:notification' %}">
                            <i class="fa fa-bullhorn mx-1"></i>
                            <p>{% get_notifications_count user 'false' %}未读消息|管理消息</p>
                        </a>
                        {% for each in notifications %}
                        {% if not each.is_read %}
                        <a class="dropdown-item media" href="{{ each.comment.belong.get_absolute_url }}#com-{{ each.comment.id }}">
                            <i class="fa fa-warning"></i>
                            <p>{{ each.create_p }}回复你：{{ each.comment.content|truncatechars:15|safe }}
                            </p>
                        </a>
                
                
                        {% endif %}
                        {% endfor %}
                        <!-- <a class="dropdown-item media" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a> -->
                    </div>
                </div>
                <div class="dropdown for-message">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="count bg-danger">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="message">
                        <p class="red">You have 3 Mails</p><a class="dropdown-item media" href="#">
                            <span class="photo media-left"><img alt="avatar" src="#" alt="。"></span>
                            <div class="message media-body">
                                <span class="name float-left">Jonathan Smith</span>
                                <span class="time float-right">Just now</span>
                                <p>Hello, this is an example msg</p>
                            </div>
                        </a>
                        <a class="dropdown-item media" href="#">
                            <span class="photo media-left"><img alt="avatar" src="#"></span>
                            <div class="message media-body">
                                <span class="name float-left">Jack Sanders</span>
                                <span class="time float-right">5 minutes ago</span>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </a>
                        <a class="dropdown-item media" href="#">
                            <span class="photo media-left"><img alt="avatar" src="#" alt="。"></span>
                            <div class="message media-body">
                                <span class="name float-left">Cheryl Wheeler</span>
                                <span class="time float-right">10 minutes ago</span>
                                <p>Hello, this is an example msg</p>
                            </div>
                        </a>
                
                    </div>
                </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" title="{{ user }}，欢迎回来！">
                        <img class="avatar" src="{{ user.avatar.url }}" alt="{{ user }}">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item pl-3" href="/accounts/profile/"><i
                                class="fa fa-fw fa-user text-info mr-2"></i>个人资料</a>
                        <a class="dropdown-item pl-3" href="/accounts/logout/"><i
                                class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                    </div>
                    
                    
                </li>
    
            </ul>
            
            {% else %}
            <ul class="navbar-nav">
            
                <li class="nav-item mr-2">
                    <a class="nav-link py-md-3" href="/accounts/login/?next=/">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-md-3" href="/accounts/signup/?next=/">注册</a>
                </li>
            
            </ul>
            {% endif %}
        </div>
    </header>
    {% block main_contain %}
    <!--freen sidebar -->
    {% cache 7200 'sidebar' %}
    <aside id="freen-sidebar" class="freen-sidebar">
        <div id="freen-sidebar-wrapper" class="freen-sidebar-wrapper d-flex align-items-start flex-column h-100 w-100">
            <hr />
            <!-- AUTHOR BOX -->
            {% include 'blog/auther_box.html' %}
            <!-- MENU CONTAINER -->
            
            <div id="freen-sidebar-cell" class="freen-sidebar-cell w-100">
                <!-- MENU -->
                
                <nav id="freen-main-menu" class="menu-main-menu-container freen-main-menu">
                    {% get_toolcates as tool_cates %}
                    <ul class="freen-menu-ul">
                        {% for cate in tool_cates %}
                        <li><a href="#"><i class="mr-1 fa fa-toolbox"></i>{{cate}}</a>
                            <ul class="sub-menu">
                                {% get_toollinks cate as tools %}
                                {% for tool in tools %}
                                <li><a href="{{ tool.link }}" >{{ tool.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>

                </nav>
            </div>
            <!-- SOCIAL MEDIA ICONS -->
            <div id="freen-social-cell" class="freen-social-cell mt-auto w-100">
                <div id="freen-social-inner" class="freen-social-inner">
                    <ul class="freen-social-icons">
                        <li><a href="/admin"><i class="fa fa-cog"></i></a></li>
                        <li><a href="/md2html" title=""><i class="fa fa-pencil-square-o"></i></a></li>
                        <li><a href="/accounts/contacts/root" title=""><i class="fa fa-users"></i></a></li>
                        <div class="clearfix"></div>
                </div>
            </div>
            
        </div>
    </aside>
    {% endcache %}
    <!-- site wrapper -->
    <section id="freen-site-wrapper" class="freen-site-wrapper" >
        <!-- MAIN CONTAINER -->
        {% block mdeditor_contain %}
        <main class="container-fluid row">
            <div class="col-lg-9">
                <!-- SLIDER-LSEFT -->
                <!-- 覆盖轮播图的模块 -->
                <!-- 轮播图 -->
                <!-- 不覆盖轮播图的模块 -->
                <!--消息块-->
                {% if messages %}
                <div class="container">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show"
                        role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                {% block content %}
                {% endblock %}
            </div>
            <!-- SIDER-RIGHT -->
            {% cache 7200 'sider_right' %}
            <div class="col-lg-3">

                <!-- 分类 -->
                <div class="freen-categories freen-widget">
                    <div class="freen-widget-body card">
                    <p class=""><span><i class="my-fa fa fa-book" aria-hidden="true"></i>&nbsp;分类</span></p>
                    <ul>
                        {% get_categoty_list as categories %}
                        {% get_article_num as num%}
                        {% for each in categories %}
                        <li>
                            <a href="{{ each.get_absolute_url }}"></i>&nbsp;{{ each.name }}
                                <span class="badge badge-pill badge-info">{{each.total_num}}</span>
                            </a>
                            <div class="progress progress-striped active">

                                <a id="category_progress" class="progress-bar progress-bar-success"
                                    style="width: {%  widthratio  each.total_num num 100 %}%">
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                <!-- 热门 -->
                <div class="freen-post-list-wrapper freen-widget">
                    <div class="freen-widget-body card">
                    <p class=""><span><i class="fa fa-fire mr-1"></i>&nbsp;|热门</span></p>
                    {% get_article_list '-views' 4 as pop_article %}
                    {% for pop in pop_article %}
                    <div class="freen-post-list">
                        <div class="freen-post-list-left">
                            <a href="/article{{ pop.slug }}">
                                <img src="{{ pop.img.url }}" alt="。">
                            </a>
                        </div>
                        <div class="freen-post-list-right">
                            <p class="freen-post-list-title">
                                <a href="/article/{{ pop.slug }}">{{ pop.title }}</a>
                            </p>
                            <div class="freen-post-list-info">
                                <i class="fa fa-heart-o"></i>({{ pop.views }}) 阅览
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <!-- 友链 -->
                <div class="freen-post-list-wrapper freen-widget">
                    <div class="freen-widget-body card">
                    <div class="freen-post-list">
                        <p class=""><span><i class="fa fa-link mr-2 f-17"></i>&nbsp;|友情链接</span></p>

                        {% get_friends as friends %}
                        {% if friends %}
                        {% for friend in friends %}
                        <div class="freen-post-list">
                            <div class="freen-post-list-left ">
                                <a href="{{ friend.link }}">
                                    <img src="{{ friend.logo }}" alt="">
                                </a>
                            </div>
                            <div class="freen-post-list-right">
                                <p class="freen-post-list-title">
                                    <h6 href="{{ friend.link }}">{{ friend.name }}</h6>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        &nbsp;&nbsp;暂无友链，欢迎来战
                        {% endif %}
                    </div>
                </div>


                </div>
            </div>
            {% endcache %}
        </main>
        {% endblock %}
        <!-- FOOTER -->
        {% cache 7200 'footer' %}
        <footer id="freen-footer" class="container-fluid mt-4 py-0">
        
            <!-- CREDITS -->
            <div class="freen-footer-credits" class="freen-footer-credits">
                <p>
                    CREATED BY <a href="http://boywithacoin.cn/" target="_blank">{{ AUTHOR_NAME }} </a>
                </p>
                <hr />
                <p>
                    <a href="https://www.djangoproject.com/" target="_blank"><i class="fa fa-building"
                            aria-hidden="true"></i>Django2.0.3</a>-<a
                        href="https://django-redis-chs.readthedocs.io/zh_CN/latest/" target="_blank"><i class="fa fa-book"
                            aria-hidden="true"></i>Django-redisCaching</a>-<a href="http://www.fontawesome.com.cn/"
                        target="_blank"><i class="fa fa-flag" aria-hidden="true"></i> Font Awesome 4.7.1</a>-<a
                        href="https://pandao.github.io/editor.md/examples/index.html"><i class="fa fa-pencil-square"
                            aria-hidden="true"></i>Mdeditor</a>-
                    <a href="https://dash.cloudflare.com/"><i class="fa fa-cloud"
                            aria-hidden="true"></i>CloudFareCDN解析&SSL证书</a>-
                    <a href="/sitemap.xml" title="Sitemap" target="_blank"><i class="fa fa-globe"
                            aria-hidden="true"></i>Sitemap</a>
                </p>
            </div>
        
        </footer>
        {% endcache %}



        
    </section>
    <!-- modals -->
    <div class="modal fade" id="wechat" tabindex="-1" role="dialog" aria-labelledby="QRTitle" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/static/image/wechat.png" style="max-width: 100%" alt="img">
                </div>
            </div>
        </div>
    </div> 
    <!-- <div class="modal fade" id="qq" tabindex="-1" role="dialog" aria-labelledby="QRTitle" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/static/image/qq.png" style="max-width: 100%" alt="img">
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- slide panel overlay -->
    {% comment %} <div id="freen-overlay" class="freen-overlay"></div> {% endcomment %}
    <!-- slide panel -->
    {% include 'blog/slide_panel.html' %}
    {% endblock %}
    <!-- fullscreen search -->
    <div id="freen-fullscreen-search" class="freen-fullscreen-search">
        <div id="freen-fullscreen-search-content" class="freen-fullscreen-search-content">
            <a href="#" id="freen-close-search" class="freen-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="get" action="{% url 'blog:search' %}" class="freen-lg-form">
                <div class="input-group">
                    <input type="search" class="form-control form-control-lg" placeholder="Enter a kword..." name="q" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
    
    
        </div>
    </div>
    <!-- go to top button -->
    <a id="freen-gototop" class="freen-gototop" href="#"><i class="fa fa-hand-o-up"></i></a>
    <!-- JS FILES -->

    {% block end_file %}
    {% endblock %}
    <!-- bootstrap只有引入umd/popper.js才有用 -->
    <!-- 头部菜单自动下滑mdui-headroomjs -->
    <script src="https://www.mdui.org/source/dist/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.bootcss.com/salvattore/1.0.9/salvattore.min.js"></script>
    <script src="{% static 'js/panel.js' %}"></script>
    <script src="{% static 'js/reading-position-indicator.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


    <!-- post slider -->
    <script>
        (function ($) {
            "use strict";
            $(document).ready(function () {
                $('#freen-post-slider').slick({
                    autoplay: true,
                    autoplaySpeed: 5000,
                    slidesToScroll: 1,
                    adaptiveHeight: true,
                    slidesToShow: 1,
                    arrows: true,
                    dots: false,
                    fade: true
                });
            });
            $(window).on('load', function () {
                $('#freen-post-slider').css('opacity', '1');
                $('#freen-post-slider').parent().removeClass('freen-bg-loader');
            });
        })(jQuery);
    </script>
    <!-- post carousel -->
    <script>
        (function ($) {
            "use strict";
            $(document).ready(function () {
                $('#freen-post-carousel').slick({
                    infinite: false,
                    slidesToScroll: 1,
                    arrows: true,
                    dots: false,
                    slidesToShow: 3,
                    responsive: [{
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2
                        }
                    }, {
                        breakpoint: 576,
                        settings: {
                            slidesToShow: 1
                        }
                    }]

                });
                $('#freen-post-carousel').css('opacity', '1');
            });
        })(jQuery);
    </script>
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <script>
    (function(){
    var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
    document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
    </script>
</body>

</html>