{% extends "base.html" %}
{% load static %}
{% block content %}

                <!-- PAGE TITLE -->
                <div class="eskimo-page-title">
                    <h1><span>{{ post.title }}</span></h1>
                    <div class="eskimo-page-title-meta">
                        <div class="eskimo-author-meta">
                            By <a class="author-meta" href="author.html">ROOT</a>
                        </div>
                        <div class="eskimo-cat-meta">
                            In <a href="category.html">{{ post.category }}</a>
                        </div>
                        <div class="eskimo-date-meta"> {{ post.pub_time|date:'Y-m-d H:i' }}</div>
                        <div class="eskimo-reading-meta">{{ post.views }}次浏览</div>
                    </div>
                </div>
                <!-- FEATURED IMAGE -->
                <!-- POST CONTENT -->
                <div class="eskimo-page-content">
                    {{ post.content |safe }}
                    <!-- TAGS -->
                    <div class="eskimo-meta-tags">
                        {% for tag in tags %}
                        <span class="badge badge-default"><a href="category.html">{{ tag }}</a></span>
                        {% endfor %}
                    </div>
                    <!-- POST NAVIGATION -->
                    <div class="eskimo-post-nav-wrapper">
                        <!-- PREVIOUS POST -->
                        <div class="eskimo-post-nav-left-row">
                            <div class="eskimo-post-nav-table">
                                {% if prev_post %}
                                <a class="eskimo-post-nav" >
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <div class="eskimo-post-nav-link">
                                    <a class="eskimo-post-nav" href="{% url 'detail' id=prev_post.id %}">上一篇：{{ prev_post.title }}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- NEXT POST -->
                        <div class="eskimo-post-nav-left-row">
                            <div class="eskimo-post-nav-table">
                                {% if next_post %}
                                <div class="eskimo-post-nav-link">
                                    <a class="eskimo-post-nav" href="{% url 'detail' id=next_post.id %}">上一篇：{{ next_post.title }}</a>
                                </div>
                                <a class="eskimo-post-nav" >
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
{% endblock %}   