{% load static %}

{% load cache %}
{% cache 7200 'slide_panel' %}
<div id="freen-panels" class="freen-panels">
    <aside id="freen-panel" class="freen-panel">
        <div class="freen-panel-inner">
            <!-- CLOSE SLIDE PANEL BUTTON -->
            <a href="#" class="freen-panel-close"><i class="fa fa-times"></i></a>
            <!-- AUTHOR BOX -->
            <div class="freen-author-box  freen-widget">
                <div class="freen-author-img">
                    <img src="{% static 'image/logo.png' %}" alt="JOHN DOE" />
                </div>
                <h3><span> {{ AUTHOR_NAME }} </span></h3>
                <p class="freen-author-subtitle">武汉理工大学2020届</p>
                <p class="freen-author-description">{{AUTHOR_DESC}}</p>
            </div>
            <!-- 技能树-->
            <div class="freen-recent-entries freen-widget">
                <h5 class="freen-title-with-border"><span>项目经历</span></h5>
                <ul>
                    
                    <li>
                        <a href="#">django框架的个人博客网站</a>
                        <span class="post-date">2017.11 - 至今</span>
                    </li>
                    <li>
                        <a href="#">dcg武汉理工数传实习</a>
                        <span class="post-date">2019.07 - 2019.08</span>
                    </li>
                    <li>
                        <a href="#">express框架的相亲网站</a>
                        <span class="post-date">2017.09 - 2017.12</span>
                    </li>
                    <li>
                        <a href="#">武汉理工大学-信息安全实验室</a>
                        <span class="post-date">2017.07 - 2017.08</span>
                    </li>
                </ul>
            </div>
            <!-- 技能树
            <div class="freen-categories freen-widget">
                <h5 class="freen-title-with-border"><span>Categories</span></h5>
                <ul>
                    <li>
                        <a href="category.html" title="The best restaurants, cafes, bars and shops in town.">Food &amp; Drink</a>
                        <span class="badge badge-pill badge-default">5</span>
                    </li>
                    <li>
                        <a href="category.html" title="An up-to-date, personal urban guide.">Lifestyle</a> <span
                            class="badge badge-pill badge-default">5</span>
                    </li>
                    <li>
                        <a href="category.html" title="Latest technology news and updates.">Technology</a> <span
                            class="badge badge-pill badge-default">4</span>
                    </li>
                    <li>
                        <a href="category.html" title="Travel advice, information and inspiration.">Travel</a> <span
                            class="badge badge-pill badge-default">5</span>
                    </li>
                    <li>
                        <a href="category.html" title="The latest news about movies and TV shows.">TV &amp; Movies</a> <span
                            class="badge badge-pill badge-default">4</span>
                    </li>
                </ul>
            </div> -->
            <!-- TAGS -->
            <!-- <div class="freen-widget">
                <h5 class="freen-title-with-border"><span>Tags</span></h5>
                <div class="freen-tag-cloud">
                    <a href="category.html">aute<span>7</span></a>
                    <a href="category.html">enim<span>7</span></a>
                    <a href="category.html">commodo<span>7</span></a>
                    <a href="category.html">voluptatibus<span>7</span></a>
                    <a href="category.html">culpa<span>7</span></a>
                    <a href="category.html">offendit<span>7</span></a>
                    <a href="category.html">magna<span>7</span></a>
                    <a href="category.html">quorum<span>7</span></a>
                    <a href="category.html">mandaremus<span>7</span></a>
                    <a href="category.html">ingeniis<span>7</span></a>
                    <a href="category.html">tempor<span>7</span></a>
                    <a href="category.html">summis<span>7</span></a>
                    <a href="category.html">consequat<span>6</span></a>
                    <a href="category.html">iudicem<span>6</span></a>
                    <a href="category.html">expetendis<span>6</span></a>
                    <a href="category.html">deserunt<span>6</span></a>
                </div>
            </div> -->

        </div>
    </aside>
</div>
{% endcache %}