
<div class="freen-categories freen-widget">

    <div class="freen-widget-body">
        <h5 class="freen-title-with-border"><span><i class="my-fa fa fa-book" aria-hidden="true"></i>&nbsp;|口袋</span></h5>
    <ul>
        
        <li>
            <a href="{{ each.get_absolute_url }}"></i>&nbsp;
                <span class="badge badge-pill badge-info"></span>
            </a>
            <div class="progress progress-striped active">

                <a id="category_progress" class="progress-bar progress-bar-success"
                    style="width: {%  widthratio  each.total_num num 100 %}%">
                </a>
            </div>
        </li>
    </ul>
    </div>
</div>