<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="ch">
<head>
	<meta charset="utf-8" />
	<meta name="author"  content="Tencent.AlloyTeam.Svenzeng" />
	<meta name="copyright" content="Tencent.AlloyTeam" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
	<title>街头霸王 Street Fighter</title>
	<script src="{% static 'js/config.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/interface.js' %}"></script>
	<script src="{% static 'js/ai.js' %}"></script>
	<script src="{% static 'js/class.js' %}"></script>
	<script src="{% static 'js/timer.js' %}"></script>
	<script src="{% static 'js/map.js'  %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/game.js' %}"></script>
</head>
<body>

<h2>### 主机:</h2>
<p>* 移动: W: 上, D: 前, A: 后, S：下 </p>
<p>* 攻击: J: 轻拳, K: 重拳, U: 轻腿, I: 重腿</p>
<p>* 技能: 下→前→拳: 波动拳, 下→后→腿：旋风腿, 前→下→前→拳：升龙拳</p>

<h2>### 副机（小键盘）:</h2>
<p>* 移动: ↑: 上, ←: 前, →: 后, ↓：下 </p>
<p>* 攻击: 1: 轻拳, 2: 重拳, 4: 轻腿, 5: 重腿</p>
<p>* 技能: 下→前→拳: 波动拳, 下→后→腿：旋风腿, 前→下→前→拳：升龙拳</p>

<p>按F2暂停游戏, 1键大战电脑ai, 2键双人对打.</p>

<!--Google Analytics-->

<div class="copyright">
	<script>document.write(new Date().getFullYear());</script>
</div>

</body>

</html>
